PORT=4000
DATABASE_URL=postgres://user:password@localhost:5433/porto_dashboard
JWT_SECRET=ganti_dengan_secret_yang_kuat
JWT_EXPIRES_IN=7d
CORS_ORIGIN=http://localhost:3001
PUBLIC_URL=http://localhost:4000

# Hanya untuk seed pertama kali:
ADMIN_USERNAME=admin
ADMIN_PASSWORD=ganti_password_ini

POSTGRES_USER=achmad
POSTGRES_PASSWORD=achmad128
POSTGRES_DB=porto_dashboard
